---
import Layout from "../layouts/Layout.astro";
import { Image } from '@astrojs/image/components';

export async function getStaticPaths() {
    const posts = await Astro.glob('../posts/*.md');
    return posts.map(post => ({
        params: {
            slug: post.frontmatter.slug
        },
        props: {
            post
        }
    }   
    ))
}

const { Content, frontmatter } = Astro.props.post ;
---

<Layout title={frontmatter.title}>
	<main class="max-w-[900px] md:mx-auto m-0 mt-5 [&_img]:mx-auto">
		<h1 class="md:text-2xl text-xl text-honey-yellow text-center mb-5">{frontmatter.title}</h1>
        <p class="font-space-grotesk text-sm text-honey-yellow text-center mb-3">{new Date(frontmatter.date).toLocaleString(undefined, {dateStyle: 'long'})}</p>
        <span class="[&_p]:text-honeydew [&_p]:text-lg [&_p]:mb-5 [&_h3]:bg-black [&_h3]:p-3 [&_h3]:m-3 [&_h3]:rounded-md [&_h3]:text-light-cyan [&_h2]:text-light-cyan [&_h1]:text-light-cyan [&_h1]:text-2xl [&_a]:text-deep-saffron hover:[&_a]:underline hover:[&_a]:underline-offset-8 hover:[&_a]:decoration-1 [&_img]:my-6">
            <Content />
        </span>
        <a href='https://www.buymeacoffee.com/michaelnguyen'>
            <img width="179px" height='50px' alt="Buy Michael A Coffee" src='/images/bmc-button.png'/>
        </a>
    </main>
</Layout>