---
import Layout from "../layouts/Layout.astro";
import Projects from "../sections/Projects.astro";
import WorkHistory from "../sections/WorkHistory.astro";
import TechStack from "../sections/TechStack.astro";
import Hero from "../sections/Hero.astro";
import Clients from "../sections/Clients.astro";
import ContactForm from "../sections/Contact.astro";

<Layout>
  <main>
    <Hero/>
	<TechStack/>
	<WorkHistory/>
	<Projects/>
	<Clients/>
	<ContactForm/>
  </main>
</Layout>
