---
import mail from '@sendgrid/mail';
import {useState} from 'react';

mail.setApiKey(process.env.SENDGRID_API_KEY)

const [details, setDetails] = useState({
    to: process.env.RECEIVER_EMAIL,
    from: process.env.SENDER_EMAIL,
    subject: '',
    text: '',
    html: ''
})

const sendEmail = () => {

}
---
<div class="flex flex-col mx-auto my-[100px] gap-y-8">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Client Work</h2>
</div>
