<div class="flex justify-between items-center w-full flex-col-reverse md:flex-row mb-10">
    <div class="w-1/2 text-center">
      <p class="md:text-4xl text-xl text-honeydew font-space-grotesk mb-2">Open to Work</p>
      <ul class="max-w-xs mx-auto">
          <li class="md:text-2xl text-xl p-1 font-space-grotesk text-space-cadet bg-light-cyan duration-75 hover:scale-[105%] cursor-default shadow-rb border-b border-r border-space-cadet mb-4">Web Applications</li>
          <li class="md:text-2xl text-xl p-1 font-space-grotesk text-space-cadet bg-light-cyan duration-75 hover:scale-[105%] cursor-default shadow-rb border-b border-r border-space-cadet mb-4">Branding</li>
          <li class="md:text-2xl text-xl p-1 font-space-grotesk text-space-cadet bg-light-cyan duration-75 hover:scale-[105%] cursor-default shadow-rb border-b border-r border-space-cadet mb-4">E-Commerce</li>
          <li class="md:text-2xl text-xl p-1 font-space-grotesk text-space-cadet bg-light-cyan duration-75 hover:scale-[105%] cursor-default shadow-rb border-b border-r border-space-cadet mb-4">Wordpress</li>
          <li class="md:text-2xl text-xl p-1 font-space-grotesk text-space-cadet bg-light-cyan duration-75 hover:scale-[105%] cursor-default shadow-rb border-b border-r border-space-cadet mb-4">SEO</li>
      </ul>
      <button class="p-2 px-4 font-space-grotesk rounded-sm border-space-cadet bg-pine-green text-honeydew mb-2 duration-150 hover:scale-[108%]">Hire me!</button>
    </div>
    <div class="w-1/2 text-center">
      <img class="md:w-2/3 w-full mx-auto border-2 border-honey-yellow rounded-full my-6" src="/images/me.jpeg" />
      <p class="md:text-xl text-lg text-honeydew font-space-grotesk mb-2">Front End Engineer</p>
      <!-- <button class="p-2 px-4 font-space-grotesk rounded-sm border-space-cadet bg-pine-green text-honeydew mb-2 duration-150 hover:scale-[108%]">Hire Me!</button> -->
    </div>
  </div>