<div class="flex flex-col mx-auto my-14">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Projects</h2>
    <div class="flex flex-col md:flex-row justify-between gap-8 ">
        <!-- Card -->
        <div class="flex flex-col w-full min-h-[300px] text-center bg-light-cyan border border-space-cadet shadow-rb group cursor-pointer">
            <img height="200" src="https://picsum.photos/200/200"/>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4">
                        Local SEO Kit
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-cyan-400">React</p>
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">Firebase</p>
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-gray-700 text-white">Flask</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-xs">
                    Full stack app that contains tools for your search engine optimization efforts.
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex flex-col w-full min-h-[300px] text-center bg-light-cyan border border-space-cadet shadow-rb group cursor-pointer">
            <img height="200" src="https://picsum.photos/200/200"/>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4">
                        Stock Nitro
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-gray-800 text-white">NextJS</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">Firebase</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-green-400">Vercel</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-xs">
                    A paper trading simulator for options with portfolio management and trading journaling.
                </p>
            </div>
        </div>
        <!-- Card -->
        <div class="flex flex-col w-full min-h-[300px] text-center bg-light-cyan border border-space-cadet shadow-rb group cursor-pointer">
            <img height="200" src="https://picsum.photos/200/200"/>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4">
                        Action Hustle
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-red-500">Astro</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">Firebase</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-purple-400">Stripe</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-xs">
                    Content hosted on top of a custom learning manangement system.
                </p>
            </div>
        </div>
    </div>
</div>