<div class="flex flex-col mx-auto my-14">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Projects</h2>
    <div class="flex flex-col md:flex-row justify-between gap-8 ">
        <div class="flex flex-col w-full text-center bg-light-cyan border border-b-space-cadet border-r-space-cadet shadow-rb group cursor-pointer">
            <img height="150" src="https://picsum.photos/200/150"/>
            <div class="flex justify-between">
                <p class="p-1 m-1 text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-2">
                    Stock Nitro
                </p>
                <div class="flex items-center">
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-cyan-400">React</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-blue-400">CSS</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">HTML</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full text-center bg-light-cyan border border-b-space-cadet border-r-space-cadet shadow-rb group cursor-pointer">
            <img height="150" src="https://picsum.photos/200/150"/>
            <div class="flex justify-between">
                <p class="p-1 m-1 text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-2">
                    Stock Nitro
                </p>
                <div class="flex items-center">
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-cyan-400">React</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-blue-400">CSS</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">HTML</p>
                </div>
            </div>
        </div>
        <div class="flex flex-col w-full text-center bg-light-cyan border border-b-space-cadet border-r-space-cadet shadow-rb group cursor-pointer">
            <img height="150" src="https://picsum.photos/200/150"/>
            <div class="flex justify-between">
                <p class="p-1 m-1 text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-2">
                    Stock Nitro
                </p>
                <div class="flex items-center">
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-cyan-400">React</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-blue-400">CSS</p>
                    <p class="p-1 m-1 rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">HTML</p>
                </div>
            </div>
        </div>
    </div>
</div>