<div class="flex flex-col md:max-w-[900px] mx-auto my-14">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Work History</h2>
    <ol class="relative border-l border-honey-yellow dark:border-honey-yellow">
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-honey-yellow bg-honey-yellow"></div>
            <time class="mb-1 text-sm font-normal leading-none text-honey-yellow">February 2019 - Present</time>
            
            <h3 class="text-lg font-semibold text-white">Front End Developer - Clear Bounce Marketing</h3>
            <p class="mb-4 text-base font-normal text-light-cyan">∙ A digital agency that helps local business owners develop an online presense.<br/>∙ Started with Wordpress but transitioned to NextJS and Astro.</p>
            <a href="https://clearbounce.com" class="inline-flex items-center p-2 px-4 font-space-grotesk rounded-sm border-space-cadet bg-pine-green text-honeydew duration-150 hover:scale-[108%]">Website</a>
        </li>
        <!-- <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-honey-yellow bg-honey-yellow"></div>
            <time class="mb-1 text-sm font-normal leading-none text-honey-yellow">October 2021 - March 2022</time>
            <h3 class="text-lg font-semibold text-white">Quality Assurance Technician - Apple</h3>
            <p class="mb-4 text-base font-normal text-light-cyan">Supported iPhone and AirPods hardware engineering teams by identifying component issues during product launches.</p>
        </li> -->
        <li class="mb-10 ml-4">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-honey-yellow bg-honey-yellow"></div>
            <time class="mb-1 text-sm font-normal leading-none text-honey-yellow">December 2018 - July 2019</time>
            <h3 class="text-lg font-semibold text-white">Software Engineer - View, Inc</h3>
            <p class="text-base font-normal text-light-cyan">∙ Developed admin dashboards for proprietary applications.</p>
            <p class="text-base font-normal text-light-cyan">∙ SCRUM-based environment, JavaScript, ReactJS.</p>
        </li>
        <li class="ml-4">
            <div class="absolute w-3 h-3 rounded-full mt-1.5 -left-1.5 border border-honey-yellow bg-honey-yellow"></div>
            <time class="mb-1 text-sm font-normal leading-none text-honey-yellow">August 2016 - June 2018</time>
            <h3 class="text-lg font-semibold text-white">Student - University of California, Santa Cruz</h3>
            <p class="text-base font-normal text-light-cyan">∙ BSc. Honors in Computer Science.</p>
            <p class="text-base font-normal text-light-cyan">∙ Mobile &amp; Web Applications</p>
        </li>
    </ol>
</div>