---
import { Image } from '@astrojs/image/components';
---

<div class="flex flex-col mx-auto my-[100px] gap-y-8">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Client Work</h2>
    <div class="flex flex-col md:flex-row justify-between gap-8 md:max-w-[750px] mx-auto">
        <!-- Card -->
        <a href="https://southbayhers.com/" target="_blank" class="flex flex-col w-full text-center group cursor-pointer duration-75 hover:scale-105">
            <div class="flex h-[300px] bg-white items-center p-5 rounded-md">
                <Image height="500" width="500" alt="South Bay Hers Rating" class="items-center mx-auto" src="/assets/images/homepage/southbayhers.png"/>
            </div>
        </a>
        <!-- Card -->
        <a href="https://authenticautosales.com/" target="_blank" class="flex flex-col w-full text-center group cursor-pointer duration-75 hover:scale-105">
            <div class="flex h-[300px] bg-white items-center p-5 rounded-md">
                <Image height="410" width="774" alt="" class="items-center mx-auto" src="/assets/images/homepage/authentic-auto-sale.png"/>
            </div>
        </a>
    </div>
    <div class="flex flex-col md:flex-row justify-between gap-8 ">
        <!-- Card -->
        <a href="https://webuyhousesinbayarea.com/" target="_blank" class="flex flex-col w-full text-center group cursor-pointer duration-75 hover:scale-105">
            <div class="flex h-[150px] bg-white items-center p-5 rounded-t-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto" src="/assets/images/homepage/bayarea.png"/>
            </div>
            <div class="flex h-[150px] bg-[#007ccb] text-center items-center p-5 rounded-b-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto" src="/assets/images/homepage/bayarea-white.png"/>
            </div>
        </a>
        <!-- Card -->
        <a href="https://webuyhousesocal.com/" target="_blank" class="flex flex-col w-full text-center group cursor-pointer duration-75 hover:scale-105">
            <div class="flex h-[150px] bg-[#007ccb] items-center p-5 rounded-t-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto ml-5" src="/assets/images/homepage/socal-white.png"/>
            </div>
            <div class="flex h-[150px] bg-white items-center p-5 rounded-b-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto ml-5" src="/assets/images/homepage/socal.png"/>
            </div>
        </a>
        <!-- Card -->
        <a href="https://sellyourhouseinatlanta.com/" target="_blank" class="flex flex-col w-full text-center group cursor-pointer duration-75 hover:scale-105">
            <div class="flex h-[150px] bg-white items-center p-5 rounded-t-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto" src="/assets/images/homepage/atlanta.png"/>
            </div>
            <div class="flex h-[150px] bg-[#007ccb] items-center p-5 rounded-b-md">
                <Image height="202" width="1000" alt="" class="items-center mx-auto" src="/assets/images/homepage/atlanta-white.png"/>
            </div>
        </a>
    </div>
</div>