<div class="flex flex-col mx-auto ">
    <h2 class="mb-5 md:text-4xl text-3xl font-space-grotesk text-honey-yellow text-center font-bold">Personal Projects</h2>
    <div class="flex flex-col md:flex-row justify-between gap-8 ">
        <!-- Card -->
        <a href="https://localseokit.co/" target="_blank" class="flex flex-col w-full text-center bg-light-cyan border group border-light-cyan rounded-sm cursor-pointer">
            <div class="flex h-[200px] bg-black items-center">
                <p class="flex items-center text-[#00df9a] mx-auto font-bold text-xl"><img class="h-[25px w-[25px]" src="/assets/images/homepage/LSK_icon.png"/>LocalSEOKit.</p>
            </div>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4 md:text-sm text-xl">
                        Local SEO Kit
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-blue-400">React</p>
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-400">AWS</p>
                        <p class="p-1 m-[0.75px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-red-400">Flask</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-sm">
                    Tools/libraries in Python visualized on a React frontend.
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="https://stocknitro.com/" target="_blank" class="flex flex-col w-full text-center bg-light-cyan border group border-light-cyan rounded-sm cursor-pointer"> 
        <div class="flex h-[200px] bg-[#1c0f36] items-center">
            <p class="flex items-center mx-auto font-bold text-xl font-bungee text-magic-mint">Stock Nitro<img class="h-[30px w-[30px] mb-2" src="/assets/vectors/flame.svg"/></p>
        </div>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4 md:text-sm text-xl">
                        Stock Nitro
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-gray-800 text-white">NextJS</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-green-400">Vercel</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-200">Firebase</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-sm">
                    A journal application to assist daytraders in better decision-making.
                </p>
            </div>
        </a>
        <!-- Card -->
        <a href="https://actionhustle.com/" target="_blank"  class="flex flex-col w-full text-center bg-light-cyan border group border-light-cyan rounded-sm cursor-pointer">
            <div class="flex h-[200px] bg-[#1f3768] items-center">
                <p class="flex items-center text-[#f5b700] mx-auto font-bold text-4xl font-germania drop-shadow" style="text-shadow: 2px 2px #000;">Action Hustle</p>
            </div>
            <div class="p-2">
                <div class="flex justify-between">
                    <p class="p-1 m-[0.5px] text-left font-space-grotesk text-space-cadet font-bold group-hover:underline underline-offset-8 decoration-4 md:text-sm text-xl">
                        Action Hustle
                    </p>
                    <div class="flex items-center">
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-500">Astro</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-orange-200">Firebase</p>
                        <p class="p-1 m-[0.5px] rounded-md font-montserrat text-xs font-bold border border-space-cadet bg-blue-300">Stripe</p>
                    </div>
                </div>
                <p class="m-2 text-left font-space-grotesk text-space-cadet text-sm">
                    Entrepreneurship blog with tutorials, courses, and e-commerce.
                </p>
            </div>
        </a>
    </div>
</div>